# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

SSA/Parser/*.tab.*
SSA/Parser/stack.hh
SSA/Parser/*.output
SSA/Parser/*.flex.*
SSA/SSA
SSA/output.txt

*~
